{% extends 'base_admin.html.twig' %}

{% block title %}Baiviet index{% endblock %}

{% block body %}
    <h1>Danh sách bài viết</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tiêu Đề</th>
                <th>Nội Dung</th>
                <th>Thể Loại</th>
                <th>Ngày Xuất Bản</th>
                <th>Tác Giả </th>
                <th>Hình</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for baiviet in baiviets %}
            <tr>
                <td>{{ baiviet.id }}</td>
                <td>{{ baiviet.tieude }}</td>
                <td>{{ baiviet.noidung }}</td>
                <td>{{ baiviet.theloai }}</td>
                <td>{{ baiviet.ngayxuatban }}</td>
                <td>{{ baiviet.tacgia }}</td>
                <td>{{ baiviet.hinh }}</td>
                <td>
                    <a href="{{ path('app_baiviet_show', {'id': baiviet.id}) }}">Show</a>
                    <a href="{{ path('app_baiviet_edit', {'id': baiviet.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_baiviet_new') }}">Create new</a>
{% endblock %}
