{% extends 'base_admin.html.twig' %}

{% block title %}Baiviet{% endblock %}

{% block body %}
    <h1>Baiviet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ baiviet.id }}</td>
            </tr>
            <tr>
                <th>Tieude</th>
                <td>{{ baiviet.tieude }}</td>
            </tr>
            <tr>
                <th>Noidung</th>
                <td>{{ baiviet.noidung }}</td>
            </tr>
            <tr>
                <th>Ngayxuatban</th>
                <td>{{ baiviet.ngayxuatban }}</td>
            </tr>
            <tr>
                <th>Hinh</th>
                <td>{{ baiviet.hinh }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_baiviet_index') }}">back to list</a>

    <a href="{{ path('app_baiviet_edit', {'id': baiviet.id}) }}">edit</a>

    {{ include('baiviet/_delete_form.html.twig') }}
{% endblock %}
