{% extends 'base.html.twig' %}

{% block body %}

    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">



            </head>
            <aside>
                <section>

                    <tr>

                        <th>ID</th>
                        <th>Tiêu Đề</th>
                        <th>Hình</th>
                        <th>Nội Dung</th>
                        <th>Tác Giả</th>


                    </tr>

                    </thead>
                    <tbody>
                    {% for baiviet in baiviet %}
                    <article>
                        <tr>
                            <div id="intro" class="popup mfp-with-anim mfp-hide tm-bg-gray">
                                <a href="#" class="tm-close-popup">
                                    {{ baiviet.tacgia }}
                                    <i class="fas fa-times"></i>
                                </a>
                                <div class="tm-row tm-intro-row">
                                    <img src="{{ asset('hinh/' ~ baiviet.getHinh()) }}" alt="Image" class="hinh">
                                    <div class="tm-col tm-bg-white tm-intro-pad">
                                        <h2 class="tm-color-primary tm-page-title">{{ baiviet.tieude }}</h2>
                                        <div class="tm-row tm-content-row">
                                            <div class="tm-col-6 tm-intro-col-l">
                                                <p>
                                                    {{ baiviet.noidung }}


                                            </div>
                                            <div class="tm-col-6">
                                                <p>
                                                    <strong> {{ baiviet.ngayxuatban|date('F j, Y') }} </strong>
                                                </p>
                                                <p>

                                                </p>
                                                <p class="tm-mb-80">
                                                    {{ baiviet.theloai }}
                                                </p>
                                                <div class="tm-text-center">
                                                    <a href="#" class="tm-btn tm-btn-primary mfp-prevent-close tm-btn-next">
                                                        Next Page
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                    </article>
                </section>
            </aside>s
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
